<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}"> <!--linked css file-->
    <title>My ToDo List App</title>
</head>
<body>
    <div id="mainDiv">
        <h1>Stuff I Need To Do</h1>
        <div id="listDiv">
            <ul>
                <!--tasks go here-->
                {% for item in tasks %}
                    <li>{{item}}</li>
                {% endfor %}
            </ul>
        </div>
        <!--form for adding/deleting tasks-->
        <form action="/addTask" method="POST">
            <input type="text" name="Input for Tasks" placeholder="Enter a task" autocomplete="off">
            <button type="submit">Add Task to List</button>
            <button type="submit" formaction="/deleteTask">Remove Task from List</button>
        </form>
        <!--Clear all the tasks-->
        <form action="/clearAll" method="POST">
            <button type="submit">Clear Tasks</button>
        </form>
    </div>
</body>

</html>